body{
    font-family: 'Poppins', sans-serif;
}

#sesi1{
    background: linear-gradient(45deg, #d900ff, #ff0015)no-repeat fixed;
    height: 100vh;
}

#sesi2{
    background: #00A1B7 no-repeat fixed;
    height: 136vh;
}

#sesi3{
    background: #fff no-repeat fixed;
    height: 100vh;
}

#sesi4{
    background:  linear-gradient(180deg,#d2e9ff, #b4eeff);
    height: 100%;
}

#sesi5{
    background: #b4eeff no-repeat fixed;
    height: 100vh;
}

#sesi6{
    background: linear-gradient(180deg, #ff439b, #ffa1a1) no-repeat fixed;
    height: 100%;
}
.sesi{
    background: url("img1.png");
}

.judul{
    font-weight: bold;
}

.isi{
    font-weight: 300;
}

section, footer{
    padding: 20px 0;
}

footer p{
    font-size: 100%;
}

